<ion-view title="Account">
  <ion-content>
    <form>
      <div class="list">
        <div class="item item-input item-select">
          <span class="input-label">Group</span>
          <fancy-select
            header-text="Group"
            allow-empty="false"
            value="asset.group_id"
            text-default="Please choose Group"
            text-field="name"
            value-field="id"
            ng-items="groups">
          </fancy-select>
        </div>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="asset.title" type="text">
        </label>
        <div class="item item-input">
          <span class="input-label">Amount</span>
          <input ng-model="asset.amount" type="number">
          <fancy-calc value="asset.amount"></fancy-calc>
        </div>
        <div class="item item-input">
          <span class="input-label">Keep Amount</span>
          <input ng-model="asset.keep_amount" type="number">
          <fancy-calc value="asset.keep_amount"></fancy-calc>
        </div>
        <label class="item item-input item-toggle">
          <span class="input-label">Save Account</span>
          <label class="toggle">
            <input type="checkbox" ng-model="asset.is_save_account">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="asset.description"></textarea>
        </label>
      </div>
      <button ng-click="submit(asset)" class="button button-full button-royal">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
