<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{transferRequests.year}}-{{transferRequests.month}}">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Day</span>
          <input ng-model="bill.day" ng-change="changeDay(bill)" type="date">
        </label>
        <div class="item item-input item-select">
          <span class="input-label">Account</span>
          <fancy-select
            header-text="Account"
            allow-empty="false"
            value="bill.asset_id"
            text-default="Please choose Account"
            text-field="title"
            value-field="id"
            ng-items="assets">
          </fancy-select>
        </div>
        <div class="item item-input item-select">
          <span class="input-label">Budget</span>
          <fancy-select
            header-text="Budget"
            allow-empty="false"
            value="bill.budget_id"
            text-default="Please choose Budget"
            text-field="title"
            value-field="id"
            ng-items="budgets">
          </fancy-select>
        </div>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="bill.title" type="text">
        </label>
        <div class="item item-input">
          <span class="input-label">Amount</span>
          <!--input ng-model="bill.amount" type="number"-->
          <fancy-calc value="bill.amount"></fancy-calc>
        </div>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="bill.description"></textarea>
        </label>
      </div>
      <div class="row" style="padding: 0px">
        <div class="col" style="padding: 0px">
          <button ng-click="submit(bill)" class="button button-full button-{{type==0?'positive':'assertive'}}">
            {{type==0?'Income':'Expense'}}
          </button>
        </div>
        <div class="col" style="padding: 0px">
          <button ng-click="submit(bill, true)" class="button button-full button-dark">
            Continue
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
