<ion-view title="{{transferRequests.year}}-{{transferRequests.month}}">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Year</span>
          <select ng-options="year for year in years track by year" ng-model="budget.year" class="select-align-left">
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Month</span>
          <select ng-options="month for month in months track by month" ng-model="budget.month" class="select-align-left">
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Category</span>
          <select ng-options="category.name group by category.type_name for category in categories track by category.id" ng-model="budget.category" class="select-align-left">
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="budget.title" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input ng-model="budget.amount" type="number">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Type</span>
          <select ng-options="type for type in types" ng-model="budget.type" class="select-align-left">
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Tracking</span>
          <select ng-options="tracking for tracking in trackings" ng-model="budget.tracking" class="select-align-left">
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="budget.description"></textarea>
        </label>
      </div>
      <button ng-click="submit(budget)" class="button button-full button-royal">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
