<ion-view title="{{transferRequests.year}}-{{transferRequests.month | number}}">
  <ion-header-bar class="bar-subheader bar-positive" style="height: 65px;padding: 0px 5px;">
    <div class="row" style="padding: 0px 5px;">
      <div class="col text-medium">
        <div class="text-bold">Income</div>
        <div>{{statistics.totalIncomeActualAmount | number}}</div>
        <div class="calm">{{statistics.totalIncomePlanAmount | number}}</div>
      </div>
      <div class="col text-medium">
        <div class="text-bold">Expense</div>
        <div>{{statistics.totalExpenseActualAmount | number}}</div>
        <div class="calm">{{statistics.totalExpensePlanAmount | number}}</div>
      </div>
      <div class="col col-34 text-medium text-right">
        <div class="text-bold">Need Income</div>
        <div>{{statistics.totalNeedIncomeActualAmount | number}}</div>
        <div class="calm">{{statistics.totalNeedIncomeAmount | number}}</div>
      </div>
    </div>
  </ion-header-bar>
  <ion-content style="top: 110px;">
    <div class="list-not-found" ng-show="bills.length==0">
      Bills Not Found
    </div>
    <ion-list can-swipe="false">
      <ion-item ng-repeat="bill in bills" class="item-text item-padding-5">
        <div class="row bill-row-header">
          <div class="col">
            <span class="bill-day-text">{{bill.day}}</span>
            <span class="text-small">{{bill.year_month}}</span>
          </div>
          <div class="col text-right text-income text-medium text-bold">
            {{bill.totalIncomeAmount | number}}
          </div>
          <div class="col text-right text-expense text-medium text-bold">
            {{bill.totalExpenseAmount | number}}
          </div>
        </div>
        <ion-list>
          <ion-item ng-repeat="bill in bill.bills" class="item-text item-padding-0" style="border:0px;margin:-1px 0px">
            <div class="row {{$last==true?'bill-row-footer':''}} bill-row-default">
              <div class="col">
                <span class="label label-info text-small">{{bill.budget_category_name}} > {{bill.budget_title}}</span>
                <span class="text-medium text-wrap">{{bill.title}}</span>
              </div>
              <div class="col col-25 text-right text-medium {{bill.type==1?'text-expense':'text-income'}}">
                {{bill.amount | number}}
              </div>
            </div>
            <ion-option-button class="button-positive text-medium">Edit</ion-option-button>
            <ion-option-button class="button-assertive text-medium">Delete</ion-option-button>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <div class="row" style="padding: 0px" ng-controller="CommonCtrl">
      <div class="col" style="padding: 0px">
        <button class="button button-full button-positive" ng-click="goCreateBill(0)">
          Income
        </button>
      </div>
      <div class="col" style="padding: 0px">
        <button class="button button-full button-assertive" ng-click="goCreateBill(1)">
          Expense
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
