<ion-view title="{{transferRequests.year}}-{{transferRequests.month}}">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input ng-model="transfer.day" type="date">
        </label>
        <div class="item item-input item-select">
          <span class="input-label">Source</span>
          <fancy-select
            header-text="Account"
            allow-empty="false"
            value="transfer.from_account_id"
            text-default="Please choose Account"
            text-field="title"
            value-field="id"
            ng-items="assets">
          </fancy-select>
        </div>
        <div class="item item-input item-select">
          <span class="input-label">Destination</span>
          <fancy-select
            header-text="Account"
            allow-empty="false"
            value="transfer.to_account_id"
            text-default="Please choose Account"
            text-field="title"
            value-field="id"
            ng-items="assets">
          </fancy-select>
        </div>
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="transfer.title" type="text">
        </label>
        <div class="item item-input">
          <span class="input-label">Amount</span>
          <!--input ng-model="transfer.amount" type="number"-->
          <fancy-calc value="transfer.amount"></fancy-calc>
        </div>
        <div class="item item-input">
          <span class="input-label">Fee</span>
          <!--input ng-model="transfer.fee" type="number"-->
          <fancy-calc value="transfer.fee"></fancy-calc>
        </div>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <textarea ng-model="transfer.description"></textarea>
        </label>
      </div>
      <button ng-click="submit(transfer)" class="button button-full button-royal">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
